@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  width: 100%;
  height: 100%;
}

.route-segment {
  cursor: pointer;
  pointer-events: all !important;
}

.route-segment:hover {
  stroke-width: 8px !important;
  stroke: #005B9E !important;
} 